<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5GMnm8zxU3lLsyMxbwNYdRqYoMj_CTHY</string>
	<key>GCM_SENDER_ID</key>
	<string>137617765552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.idealapp.githubcicdtest</string>
	<key>PROJECT_ID</key>
	<string>tnear-test-cicd-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>tnear-test-cicd-ios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137617765552:ios:9eceaefe4f40e169467775</string>
</dict>
</plist>